*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo {
    width: 80px;
    height: 80px;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}

header .navbar ul {
    list-style: none;
    margin-top: 30px;
}

header .navbar ul li {
    position: relative;
    float: left;
    margin: 5px 5px;
}

header .navbar ul li a {
   text-decoration: none;
   font-size: 20px;
   padding: 18px;
   color: #eddbce ;
   display: block;
}

header .navbar ul li a:hover {
    background: #40392b;
    color: #eddbce ;

}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #252119;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1) ;
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20%;
    color: #eddbce ;
    cursor: pointer;
    display: none;
}

@media(max-width:991px) {


    header {
        padding: 20px;
    }

    header label {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: block;
    }

}


body{
    background-image: url(../img/kamera-billeder-small/lyng-blade.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height: 100vh;
}

.container {
    position: relative;
}

.container .wrapper {
    width: 65vw;
    height: 70vh;
    border: 1px solid #000;
    margin: 5rem auto;
    overflow: hidden;
    border-radius: 16px;
    margin-top: 150px;
    margin-bottom: 60px;

}

.container .slider-holder{
    display: grid;
    grid-template-columns: repeat(6,100%);
    height: 100%;
}

.container #slider-image1 {
    background-image: url(../img/kamera-billeder-small/bundetkrans-slide1.jpg);
    background-size: cover;
}

.container #slider-image2 {
    background-image: url(../img/kamera-billeder-small/bundetkrans-slide2.jpg);
    background-size: cover;
}

.container #slider-image3 {
    background-image: url(../img/kamera-billeder-small/bundetkrans-slide3.jpg);
    background-size: cover;
}

.container #slider-image4 {
    background-image: url(../img/kamera-billeder-small/bundetkrans-slide4.jpg);
    background-size: cover;
}

.container #slider-image5 {
    background-image: url(../img/kamera-billeder-small/bundetkrans-slide5.jpg);
    background-size: cover;
}

.container #slider-image6 {
    background-image: url(../img/kamera-billeder-small/bundetkrans-slide6.jpg);
    background-size: cover;
}

.container .button-holder{
    position: absolute;
    bottom: 0%;
    left: 45%;
}

.container .button-holder .dots {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 3rem;
    background-color: #252119;
    margin: .4rem .3rem;
}

footer {
    background-image: url(../img/kamera-billeder-small/lyng-blade.webp);
    width: 100%;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.boks {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 7%;
}

.medlem {
    list-style: none;
}

.medlem input {
    text-align: center;
    margin-top: 8%;
    border-color: #eddbce;
    background-color:  rgba(0,0,0,0.5);
    color: #eddbce;
    display: flex;
    align-items: center;
    padding: 2px;
}

.medlem  button {
    text-align: center;
    padding: 2px;
    background-color: #eddbce;
    margin-top: 8%;
    display: flex;
}

.medlem h3 {
    color: #eddbce;
    font-size: 25px;
}

.footer-logo img {
    width: 350px;
    height: 100px;
}

.kontakt h3 {
    color: #eddbce;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
}

.kontakt img {
    width: 160px;
    margin-top: 10%;
}

.kontakt p {
    color: #eddbce;
    font-size: 18px;
    text-align: center;
    margin-top: 10%;
}

.tips-og-tricks {
    text-align: center;
}

.tips-og-tricks h3{
    color: #eddbce;
    font-size: 30px;
    margin-bottom: 50px;
}

.t-og-t-button {
    padding: 20px;
    background-color: #eddbce;
    color: #252119;
    border-radius: 16px;
    font-size: 20px;
}



